mlc_set_font() {
   setfont iso01-12x22
}

mlc_vc_solarized() {
   echo -en "\e]P0073642" #black
   echo -en "\e]P8002b36" #bright black
   echo -en "\e]P1dc322f" #red
   echo -en "\e]P9cb4b16" #bright red
   echo -en "\e]P2859900" #green
   echo -en "\e]PA586e75" #bright green
   echo -en "\e]P3b58900" #yellow
   echo -en "\e]PB657b83" #bright yellow
   echo -en "\e]P4268bd2" #blue
   echo -en "\e]PC839496" #bright blue
   echo -en "\e]P5d33682" #magenta
   echo -en "\e]PD6c71c4" #bright magenta
   echo -en "\e]P62aa198" #cyan
   echo -en "\e]PE93a1a1" #bright cyan
   echo -en "\e]P7eee8d5" #white
   echo -en "\e]PFfdf6e3" #bright white
fi

